<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1a1b25;
    --cor-terciaria: #F6F6F6;
    --cor-secundaria: #FF6060;
    --cor-hover: #8D99AE;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/* Variáveis são usadas dessa forma e servem para armazenar valores padrões 
que serão muitas vezes repetidos no código e que, com futuras atualizações, 
poderão ser alterados */

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0 0 12.5%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;   /* rem é uma unidade de medida relativa e responsiva, 1 rem equivale a 16px */
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: 0.3s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.75% 12.5%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
}

.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__texto__nome {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--cor-terciaria);
    transition: 0.3s;
}

.apresentacao__conteudo__texto__nome:hover {
    color: var(--cor-secundaria)
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 75%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-secundaria);
    transition: 0.3s;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-secundaria);
}

.apresentacao__imagem {
    width: 40%;
}

.rodape {
    color: #1A1B25;
    background-color: var(--cor-secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Aba Currículo */

.curriculo-cabecalho {
    display: flex;
    flex-direction: column;
    padding: 5% 12.5%;
    gap: 40px;
}

.curriculo-cabecalho1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.curriculo-cabecalho1__nome {
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-secundaria);
}

.curriculo-cabecalho1__carreira {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.curriculo-cabecalho__contato {
    display: flex;
    gap: 10px;
    align-items: center;
}

.curriculo-cabecalho__contato img {
    width: 5%;
}

.curriculo-cabecalho__contato p {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.corpo {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
    padding: 0 12.5% 5% 12.5%;
}

.corpo__objetivos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.corpo__objetivos h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

.corpo__objetivos p {
    font-size: 1.5rem;
    text-align: justify;
}

.corpo__formacao {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.corpo__formacao h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

.corpo__formacao__formacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.corpo__formacao__formacoes h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
}

.corpo__formacao__formacoes p {
    font-size: 1.25rem;
}

@media (max-width: 1200px){

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 5%;
    }

    .cabecalho__menu__link{
        font-size: 1rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo	{
        width: auto;
    }

    .apresentacao__links__navegacao{
        width: 100%;
    }

    /* Tela currículo */

    .curriculo-cabecalho{
        padding: 5%;
    }

    .corpo{
        padding: 5%;
    }
=======
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor-primaria: #1a1b25;
    --cor-terciaria: #F6F6F6;
    --cor-secundaria: #FF6060;
    --cor-hover: #8D99AE;
    --cor-card: #2a2c3d;

    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/* Variáveis são usadas dessa forma e servem para armazenar valores padrões 
que serão muitas vezes repetidos no código e que, com futuras atualizações, 
poderão ser alterados */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 5vh 5vw;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-evenly;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    /* rem é uma unidade de medida relativa e responsiva, 1 rem equivale a 16px */
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: 0.3s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 25vh 15vw;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5vh;
}

.apresentacao__conteudo__titulo {
    font-size: 4rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4%;
}

.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    gap: 2.5vw;
}

.apresentacao__link {
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    padding: 1em 2em;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-primaria);
    transition: 0.3s;
}

.apresentacao__link:hover {
    background-color: var(--cor-terciaria);
}

/* Página Sobre Mim */

.sobremim {
    display: flex;
    height: 75vh;
    margin-top: 5vh;
    gap: 2.5vw;
}

.contato {
    background-color: var(--cor-card);
    width: 40%;
    padding: 7.5vh 2.5vw;
    margin-left: 2.5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contato__titulo {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 2rem;
    display: block;
}

.contato__titulo::after {
    content: "";
    display: block;
    /* Define o tamanho exato da linha */
    width: 75px;
    /* Define a espessura da linha */
    height: 10px;
    /* Cor da linha */
    background-color: var(--cor-secundaria);
    /* Espaço entre o texto e a linha */
    margin-top: 5px;
    /* Opcional: deixa as pontas arredondadas */
    border-radius: 10px;
}

.contato__nome {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
}

.contato__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contato__container__imagem {
    height: 5rem;
    width: 5rem;
}

.contato__container__div {
    display: flex;
    flex-direction: column;
}

.contato__label {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-terciaria);
}

.contato__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-hover);
    text-decoration: none;
    transition: 0.3s;
}

.contato__link:hover {
    color: var(--cor-secundaria);
}

.sobre {
    background-color: var(--cor-card);
    width: 60%;
    padding: 7.5vh 2.5vw;
    margin-right: 2.5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 0.5rem;
}

.sobre__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    text-decoration: none;
    background-color: var(--cor-secundaria);
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-start;
}

.sobre__link:hover {
    background-color: var(--cor-terciaria);
}

/* Página Projetos */

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 5vh;
}

.projects__title {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 2.5rem;
    padding-left: 0.5em;
    display: block;
}

.projects__title::after {
    content: "";
    display: block;
    /* Define o tamanho exato da linha */
    width: 100px;
    /* Define a espessura da linha */
    height: 15px;
    /* Cor da linha */
    background-color: var(--cor-secundaria);
    /* Espaço entre o texto e a linha */
    margin-top: 7.5px;
    /* Opcional: deixa as pontas arredondadas */
    border-radius: 10px;
}

.projetos__card__container {
    overflow-y: auto;
    width: 98.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1em;
}

.projetos__card {
    background-color: var(--cor-card);
    display: flex;
    flex-direction: column;
    padding: 1.5em 2.5em;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    gap: 1.5em;
}

.projetos__card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
}

.card__image {
    width: 100%;
    border-radius: 10px;
}

.card__textos {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.card__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    display: block;
}

.card__titulo::after {
    content: "";
    display: block;
    /* Define o tamanho exato da linha */
    width: 35px;
    /* Define a espessura da linha */
    height: 7.5px;
    /* Cor da linha */
    background-color: var(--cor-secundaria);
    /* Espaço entre o texto e a linha */
    margin-top: 5px;
    /* Opcional: deixa as pontas arredondadas */
    border-radius: 10px;
}

.card__descricao {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    line-height: 1.30rem;
    text-align: justify;
}

.card__link {
    background-color: var(--cor-secundaria);
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding: 0.10em;
    border-radius: 10px;
    transition: 0.3s;
}

.card__link:hover {
    background-color: var(--cor-terciaria);
}

.card__image__link {
    width: 100%;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 5%;
    }

    .cabecalho__menu__link {
        font-size: 1rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: 100%;
    }

    /* Tela currículo */

    .curriculo-cabecalho {
        padding: 5%;
    }

    .corpo {
        padding: 5%;
    }
>>>>>>> a6bee3a (Primeira Atualizacao)
}